#navbar{
    background: rgb(60, 60, 60, 0.5);
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
ul{
    text-align: right;
}
li{
    display: inline-block;
    padding-right: 20px;
    font-size: 1.5em;
    color: white;
}
p{
    font-size: 1.5em;
}
.img-logo-cof-fine{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.cafe-login{
    position: fixed;
    bottom: 20px;
    right: 15px;
}
a{
    text-decoration: none;
    color: white;
}